<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta http-equiv="X-UA-Compatible" mdContent="ie=edge">
    <title>我的博客</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/editor/css/editormd.min.css">
</head>

<body>
    <div class="container">
        <form th:action="${articleForm}? '/admin/updateblog/' + ${articleForm.id} : 'saveblog'" enctype="multipart/form-data" method="POST"
            id="blog-form">
            <fieldset class="form-group">
                <label for="input-title">标题</label>
                <input th:value="${articleForm}? ${articleForm.title}" type="text" class="form-control" name="title" id="input-title">
            </fieldset>
            <fieldset class="form-group">
                <label for="input-category">分类</label>
                <input th:value="${articleForm}? ${articleForm.title}" type="text" class="form-control" name="categoryName" id="input-category">
            </fieldset>
            <fieldset class="form-group">
                <label for="input-tags">标签</label>
                <input th:value="${articleForm}? ${articleForm.tagNames}" type="text" class="form-control" name="tagNames" id="input-tags">
                <small class="text-muxd">不同标签以;分割</small>
            </fieldset>
            <fieldset class="form-group">
                <label for="article-img">图片</label>
                <input type="file" class="form-control-file" name="articleImg" id="article-img">
            </fieldset>
            <fieldset class="form-group">
                <label for="summary">概述</label>
                <input th:value="${articleForm}? ${articleForm.summary}" type="text" class="form-control" name="summary" id="summary">
            </fieldset>
            <textarea name="mdContent" style="display: none;" id="input-md"></textarea>
            <textarea name="htmlContent" style="display: none;" id="input-html"></textarea>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
        <div class="form-group">
            <div class="editormd" id="editormd">
                <textarea th:text="${articleForm}? ${articleForm.mdContent}" style="display: none;"></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="blog-release">发布</button>
    </div>

    <th:block th:replace="admin/fragment/base :: script"></th:block>
    <script src="/vendor/editor/editormd.min.js"></script>
    <script src="/js/blogadd.js"></script>
</body>

</html>