<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="front/fragment/base :: common_head(~{::title}, ~{})">
    <title th:text="${article.title}"></title>
</head>
<body>
    <dir th:replace="~{front/fragment/base :: navbar}"></dir>
    <dev class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center text-info" th:text="${article.title}"></h4>
                        <div class="article-body mt-3 f-17" th:utext="${article.htmlContent}"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="article-clo"></div>
            </div>
        </div>
    </dev>
</body>
</html>