<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:replace="front/fragment/base :: common_head(~{::title}, ~{})">
    <title th:text="${currentTag.name}">标签</title>
</head>

<body th:replace="front/fragment/base :: common_body(~{::content}, ~{})">
            <div th:fragment="content">
                <div class="bg-white p-lg-3 mb-3">
                    <h3 th:text="${currentTag.name}"></h3>
                    <hr>
                    <p  th:text="${currentTag.description}"></p>
                </div>

                <div th:replace="front/index :: article-list"></div>
            </div>
</body>
</html>