<!DOCTYPE html>
<html lang="zh"
    xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_head">
    <meta charset="UTF-8">
    <meta name="viewport" mdContent="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" mdContent="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <title>Blog后台管理</title>
</head>

<body th:fragment="common_body(content, script)">
    <nav class="navbar navbar-expland-md bg-white fixed-top">
        <a href="#" class="navbar-brand">Blog后台管理</a>
        <a class="float-right btn btn-danger" href="loginout">退出</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 bg-white">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a th:class="${page == 'blog'}? 'nav-link active' : 'nav-link'" href="blogmanage">博客管理</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${page == 'tag'}? 'nav-link active' : 'nav-link'" href="tagmanage">标签管理</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${page == 'category'}? 'nav-link active' : 'nav-link'" href="categorymanage">分类管理</a>
                    </li>
                </ul>
            </div>
            <div class="col-10" th:include="${content}">
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <th:block th:replace="${script}"/>
</body>
</html>